@model ErrorViewModel
@{
    ViewData["Title"] = "We've got some trouble";
}

<div class="container"><br />
    <div class="row">
    	<div class="col-md-12">
            <div class="alert alert-danger">
                <strong>We've got some trouble.</strong> @ViewBag.ErrorMessage
            </div>
            <div class="alert alert-info">
                Please contact Admin and tell them the step by step until you reach this error, or go back to <a asp-area="" asp-controller="Execute" asp-action="Index"><strong>Initial Page</strong></a> instead.
            </div>
        </div>
    </div>
</div>