@model KeilCompilerWebBased.Web.ViewModel.SourceCodeFilesViewModel

<div class="container"><br />
    <div class="row">
    	<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <strong>Step 1: Select OS and Chip</strong> 
                </div>
                <div class="panel-body">
                    <div class="alert alert-success">
                        <strong>Success!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
                    <strong>Step 2: Upload source code files</strong> 
                </div>
				<div class="panel-body">
                    <div class="alert alert-success">
                        <strong>Success!</strong> The following file(s) has/have been selected:
                        @for(int i = 0; i< Model.SourceCodeFileList.Count; ++i)
                        {
                            <li>@Model.SourceCodeFileList[i].FileName</li>
                        }
                    </div>
				</div>
			</div>
		</div>      
	</div>
    <div class="row">
    	<div class="col-md-12">
            <div class="panel panel-default">
				<div class="panel-heading">
                    <strong>Step 3: Compile and Build</strong> 
                </div>
				<div class="panel-body">
                <p>Press the following <strong>Compile and Build</strong> button to run the compiling and building process.</p>
                <form method="post" asp-action="CompileAndBuild">
                    <input class="btn btn-primary btn-primary btn-block" type="submit" value="Compile and Build" />
                </form>

            <!-- @using (Html.BeginForm("compile", "Execute"))
            {
                <button class="btn btn-labeled btn-primary btn-block" 
                    aria-label="Left Align"
                    type="submit" 
                    name="compileall">Compile and Build</button>
            } -->
				</div>
			</div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12">
            <div class="panel panel-default">
				<div class="panel-heading">
                    <strong>Step 4: Get Result</strong> 
                </div>
			</div>
        </div>
    </div>
</div>